.imgslider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center;
    align-items: center; */
}

.imgcontainer {
  position: relative;
  margin: 50px 50px 50px 100px;
  width: 700px;
  height: 450px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.imgcontainer .slide .item {
  width: 160px;
  height: 240px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 10px 40px #9e9e9e;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 185px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 370px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .imgcontent {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .imgcontent {
  display: block;
}

.imgcontent .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.imgcontent .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.imgcontent button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.imgbutton {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.imgbutton button {
  width: 40px;
  height: 35px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.3s;
  background: transparent;
  color: white;
}

.imgbutton button:hover {
  color: white; /* Keep icon white on hover */
  background: transparent; /* Still transparent */
  transform: scale(1.1);
}

.gallary__container {
  display: grid;
  gap: 2rem;
}

.image__gallary {
  display: grid;
  gap: 1rem;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content > div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
}
.imgslider_container {
  margin: 150px 0 0 200px;
}
.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}
.explorebtn {
  background-color: #fff;
  color: #000;
}
.explorebtn:hover {
  background-color: #fff;
}
.slider_btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #2563eb;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slider_btn:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}
.gallary__details {
  text-align: left;
}
